---
import { marked } from "marked"

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import ContainPicture from "@/atoms/picture/contain/index.astro"

const { data } = Astro.props

const description = marked.parse( data.description )
const sub_title = marked.parse( data.sub_title )
---
<Container>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-12 md:gap-20 md:py-14">
        <div class="md:col-span-3 flex items-center">
            <div class="w-full aspect-square">
                <ContainPicture
                    src={ data.cover }
                    alt={ data.title }
                    image_width="800"
                />
            </div>
        </div>
        <div class="flex flex-col justify-center gap-6 md:col-span-2">
            <HeadingTwo>{ data.title }</HeadingTwo>
            <div class="space-y-1">
                <div class="h-[2px] w-14 bg-om_red"></div>
                <div class="h-[2px] w-14 bg-om_red"></div>
            </div>
            <section set:html={ sub_title } class="markdown" />
            <section set:html={ description } class="markdown" />
        </div>
    </div>
</Container>
