---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

const description = marked.parse( data.description )
const sub_title = marked.parse( data.sub_title )

---
<Container>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-12 md:gap-20 md:py-14">
        <div class="md:col-span-3 flex items-center">
            <div class="w-full aspect-square">
                <PictureContain
                    alternative_text={ data.title }
                    CDN={ CDN }
                    image_width="800"
                    PROJECT={ PROJECT }
                    source={ data.cover }
                />
            </div>
        </div>
        <div class="flex flex-col justify-center gap-6 md:col-span-2">
            <HeadingTwo>{ data.title }</HeadingTwo>
            <div class="space-y-1">
                <div class="h-[2px] w-14 bg-om_red"></div>
                <div class="h-[2px] w-14 bg-om_red"></div>
            </div>
            <section set:html={ sub_title } class="markdown" />
            <section set:html={ description } class="markdown" />
        </div>
    </div>
</Container>
