---

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import Heading from "@/atoms/heading/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

const {

    description,
    heading,
    italic_text,
    source,
    title,
    video_text

} = Astro.props

const html = marked.parse( description )

---
<div class="grid md:grid-cols-5 gap-8 md:gap-20">
    <div class="flex flex-col justify-center gap-4 md:col-span-2 order-last md:order-none">
        <Heading>{ heading }</Heading>
        <HeadingTwo>{ title }</HeadingTwo>
        <div class="space-y-1">
            <div class="h-[2px] w-14 bg-om_red"></div>
            <div class="h-[2px] w-14 bg-om_red"></div>
        </div>
        {

            italic_text ? <section set:html={ html } class="markdown italictext" /> : <section set:html={ html } class="markdown" />

        }
    </div>
    <div class="md:col-span-3 space-y-2 flex flex-col justify-self-end">
        <div class="hidden md:block w-full overflow-hidden rounded">
            <iframe
                allow="autoplay; fullscreen; picture-in-picture"
                height="420"
                src={ source }
                width="720"
            >
            </iframe>
        </div>
        <div class="md:hidden w-full overflow-hidden rounded">
            <iframe
                allow="autoplay; fullscreen; picture-in-picture"
                height="200"
                src={ source }
                width="320"
            >
            </iframe>
        </div>
        <p class="font-proxima_nova text-lg font-bold">{ video_text }</p>
    </div>
</div>
