---

// GET ASTRO PROPS
const {

    aria_label,
    href

} = Astro.props

---
<li class="text-center md:text-left text-sm list-none md:list-disc text-om_orange hover:text-white font-bold font-proxima_nova transition-all duration-200 cursor-pointer">
    <a href={ href } aria-label={ aria_label }>
        <slot/>
    </a>
</li>
