---
// IMPORTS ASTRO COMPONENTS
import TestimonialCard from "@/components/common/testimonial-card/index.astro"

const { data } = Astro.props
---
<section>
    {

        data.map( ( value, index ) => {

            if (index === 2) {

            return(
                <TestimonialCard
                    title={ value.title }
                    description={ value.description }
                    src={ value.cover }
                    alt={ value.title }
                    client_src={ value.client_headshot }
                    client_alt={ value.client_name }
                    client_name={ value.client_name }
                    client_designation={ value.client_designation }
                    client_company={ value.client_company }
                    image_aspect_video={ true }
                />
            )
        }

        })

    }
</section>
