---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingOneWhite from "@/atoms/headings/one/white/index.astro"
import Link from "@/atoms/links/index.astro"
import PrimaryButton from "@/atoms/buttons/primary/index.astro"

// IMPORTS LOTTIE ANIMATION
import LottieAnimation from "astro-integration-lottie/Lottie.astro"

// GET ASTRO PROPS
const { data } = Astro.props

---
<section class="bg-om_carbon_black h-full">
    <Container>
        <section class="grid grid-cols-1 md:grid-cols-2 gap-4 py-10">
            <section class="space-y-2 md:pt-10">
                <p class="text-white text-base md:text-xl font-semibold font-proxima_nova_condensed">{ data.heading }</p>
                <div class="space-y-4">
                    <HeadingOneWhite>{ data.title }</HeadingOneWhite>
                    <div class="pb-4">
                        <p class="text-white text-xl md:text-2xl font-light font-proxima_nova">{ data.description }</p>
                    </div>
                    <Link href="" aria_label={ data.button_text }>
                        <PrimaryButton>{ data.button_text }</PrimaryButton>
                    </Link>
                </div>
            </section>
            <section class="flex items-center justify-center">
                <div class="w-full aspect-square">
                    <div class="overflow-hidden relative">
                        <LottieAnimation
                            autoplay="visible"
                            height={ 100 }
                            src="/animations/hero.json"
                            width={ 200 }
                        />
                    </div>
                </div>
            </section>
        </section>
    </Container>
</section>
