---
import { endpointFetch } from "../functions/endpoint"

const runtime = Astro.locals.runtime;
const endpoint = endpointFetch( runtime.env.ENVIRONMENT )

// NETWORK CALL TO GET DATA
const network_data = await fetch( endpoint + "/home" )
const data_json = await network_data.json()

const { portfolio, meta_tags, data } = data_json.data

// HOME PROPS
let recent_projects = null
data.map( ( data ) => {

	if( data.slug === "recent-projects" )
		recent_projects = data

})

// IMPORT ASTRO COMPONENTS
import Layout from "../layouts/Layout.astro"
import RecentProjects from "../components/home/RecentProjects.astro"
---
<Layout title={ meta_tags.title }>
	<section class="p-6 bg-zinc-100 m-6">
		<RecentProjects portfolio={ portfolio } data={ recent_projects }/>
	</section>
</Layout>
