---
import { endpointFetch } from "../functions/endpoint"

const runtime = Astro.locals.runtime;
const endpoint = endpointFetch( runtime.env.ENVIRONMENT )

// NETWORK CALL TO GET DATA
const network_data = await fetch( endpoint + "/home" )
const data_json = await network_data.json()

const { portfolio, meta_tags, data, team } = data_json.data

// HOME PROPS
let recent_projects = null
let meet_our_team = null
data.map( ( data ) => {

	if( data.slug === "recent-projects" )
		recent_projects = data
	else if ( data.slug === "meet-our-team" )
		meet_our_team = data

})

// IMPORTS ASTRO COMPONENTS
import Layout from "../layouts/Layout.astro"
import RecentProjects from "../components/home/RecentProjects.astro"
import MeetOurTeam from "../components/home/MeetOurTeam.astro"
import HeaderBanner from "../components/home/HeaderBanner.astro"
import Header from "../components/common/header/Header.astro"
import Hero from "../components/home/Hero.astro"
import CofounderTalk from "../components/home/CofounderTalk.astro"
import PartnerWithUs from "../components/home/PartnerWithUs.astro"
import Reviews from "../components/home/Reviews.astro"
import Awards from "../components/home/Awards.astro"
import STIFounderTestimonial from "../components/home/STIFounderTestimonial.astro"
import ViennaBeefTestimonial from "../components/home/ViennaBeefTestimonial.astro"
import OptimizeWebsite from "../components/home/OptimizeWebsite.astro"
---
<Layout
	title={ meta_tags.title }
	description={ meta_tags.description }
	image={ meta_tags.cover }
>
	<section class="md:h-screen md:max-h-screen">
		<HeaderBanner />
		<Header />
		<Hero />
	</section>
	<section class="flex flex-col gap-32 py-32 bg-om_zinc">
		<RecentProjects data={ recent_projects }/>
		<CofounderTalk />
		<PartnerWithUs />
		<Reviews />
		<Awards />
		<STIFounderTestimonial />
	</section>
	<MeetOurTeam team={ team } data={ meet_our_team } />
	<ViennaBeefTestimonial />
	<section class="flex flex-col gap-32 py-32 bg-om_zinc">
		<OptimizeWebsite />
	</section>
</Layout>
