---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import Picture from "@/atoms/picture/index.astro"

const {

    data,
    team

} = Astro.props
---
<Container>
    <section class="py-12 md:py-32">
        <section class="w-full md:w-[70%] mx-auto flex flex-col gap-6">
            <h2 class="text-center font-proxima_nova_condensed font-extrabold text-4xl md:text-6xl">{ data.title }</h2>
            <div class="flex flex-col gap-1 items-center">
                <div class="h-[2px] w-14 bg-om_red"></div>
                <div class="h-[2px] w-14 bg-om_red"></div>
            </div>
            <p class="text-center text-xl md:text-2xl font-proxima_nova font-bold">{ data.sub_title }</p>
            <p class="text-center font-proxima_nova text-lg font-light">{ data.description }</p>
        </section>
        <section class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
            {

                team.map( ( item ) => {

                    return (
                        <div class="bg-om_zinc rounded">
                            <div class="w-full aspect-square">
                                <Picture
                                    src={ item.cover }
                                    alt={ "portfolio" + item.name }
                                    image_width="600"
                                />
                            </div>
                            <div class="p-8 space-y-2">
                                <h3 class="text-2xl font-proxima_nova_condensed font-extrabold">{ item.title }</h3>
                                <p class="text-lg font-promixa_nova font-light">{ item.description }</p>
                            </div>
                        </div>
                    )

                })

            }
        </section>
    </section>
</Container>
