---
// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/image"

const { data } = Astro.props

const images = data.images.sort(( a,b ) => a.order -b.order )
---
<Container>
    <section class="grid grid-cols-3 gap-20">
        {

            images.map( ( value ) => {

                return(
                    <div class="w-full aspect-video">
                        <img
                            src={ CDN_LINK + value.file + "?quality=" + IMAGE_QUALITY }
                            alt=""
                            class="w-full h-full object-contain"
                        />
                    </div>
                )

            })

        }
    </section>
</Container>
