---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import ContainPicture from "@/atoms/picture/contain/index.astro"

const { data } = Astro.props

const images = data.images.sort(( a,b ) => a.order -b.order )
---
<Container>
    <section class="grid grid-cols-1 md:grid-cols-3 gap-10">
        {

            images.map( ( value ) => {

                return(
                    <div class="w-full aspect-video">
                        <ContainPicture
                            src={ value.file }
                            alt=""
                            image_width="600"
                        />
                    </div>
                )

            })

        }
    </section>
</Container>
