---
// IMPORT ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO COMPONENTS
import TextVideoGrid from "../common/TextVideoGrid.astro"
---
<Container>
    <section class="py-20">
        <TextVideoGrid
            heading="Andy Crestodina, Cofounder, Orbit Media"
            title="Digital marketing is a test of empathy"
            description="Andy gives a quick walk-through of how we use data-driven empathy to create a website you and your visitors love."
            src="/cmo.avif"
            video_text="Hear me out, it won’t take long! "
        />
    </section>
</Container>
