---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/image"

// IMPORTING ASTRO ATOMS
import HeadingThree from "../../atoms/heading/three/Vanilla.astro"
import Paragraph from "../../atoms/paragraph/Vanilla.astro"

const {

    src,
    alt,
    title,
    description

} = Astro.props
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-white rounded py-8 px-4 md:py-0 md:px-0">
    <div class="w-full aspect-[4/1] md:aspect-video">
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full aspect-[4/1] md:aspect-video"
        />
    </div>
    <div class="flex flex-col justify-center gap-2">
        <HeadingThree>{ title }</HeadingThree>
        <Paragraph>{ description }</Paragraph>
    </div>
</div>
