---
const { data, team } = Astro.props

// IMPORTS CONSTANTS
import { CDN_LINK } from "../../constants/image"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"
---
<Container>
    <section>
        <section class="w-1/2 mx-auto flex flex-col gap-8">
            <h2 class="text-center font-proxima_nova_condensed font-extrabold text-6xl">{ data.title }</h2>
            <p class="text-center text-2xl font-proxima_nova font-bold">{ data.sub_title }</p>
            <p class="text-center font-proxima_nova text-lg font-light">{ data.description }</p>
        </section>
        <section class="grid grid-cols-3 gap-8 mt-10">
            {

                team.map( ( item ) => {

                    return (
                        <div class="bg-om_zinc rounded">
                            <div class="w-full aspect-square">
                                <img
                                    src={ CDN_LINK + item.cover }
                                    class="w-full h-full object-cover object-top"
                                    alt={ "portfolio" + item.name }
                                />
                            </div>
                            <div class="p-8">
                                <h3 class="text-2xl font-proxima_nova_condensed font-extrabold">{ item.title }</h3>
                                <p class="text-lg font-promixa_nova font-light">{ item.description }</p>
                            </div>
                        </div>
                    )

                })

            }
        </section>
    </section>
</Container>
