---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/image"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "../../atoms/heading/two/Vanilla.astro"
import Paragraph from "../../atoms/paragraph/Vanilla.astro"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

const { data } = Astro.props
---
<Container>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-20 py-32">
        <div class="col-span-3 flex items-center">
            <div class="w-full aspect-square">
                <img
                    src={ CDN_LINK + data.cover + "?quality=" + IMAGE_QUALITY }
                    alt={ data.title }
                    class="w-full h-full"
                />
            </div>
        </div>
        <div class="flex flex-col justify-center gap-6 col-span-2">
            <HeadingTwo>{ data.title }</HeadingTwo>
            <div class="space-y-1">
                <div class="h-[2px] w-14 bg-om_red"></div>
                <div class="h-[2px] w-14 bg-om_red"></div>
            </div>
            <p class="font-proxima_nova text-2xl">{ data.sub_title }</p>
            <Paragraph>{ data.description }</Paragraph>
        </div>
    </div>
</Container>
