---
// IMPORTS ASTRO ATOMS
import HeadingCenter from "../../atoms/HeadingCenter.astro"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

const data = Array(3).fill({

    file: "/reviews-google.jpg",
    alt: ""

})
---
<Container>
    <section class="space-y-10">
        <HeadingCenter>We’re focused on creating exceptional work for clients</HeadingCenter>
        <div class="grid grid-cols-3 gap-12">
            {

                data.map( ( value ) => {

                    return(
                        <div class="w-full aspect-video">
                            <img
                                src={ value.file }
                                alt={ value.alt }
                                class="w-full h-full object-contain"
                            />
                        </div>
                    )

                })

            }
        </div>
    </section>
</Container>
