---
// IMPORTS ASTRO COMPONENTS
import TestimonialBox from "../common/TestimonialBox.astro"
---
<section class="pb-32">
    <TestimonialBox
        title="A digital web design agency that is 100% website focused"
        description="The fact that Orbit specializes in website design and development was a huge advantage in our experience. We’ve previously worked with agencies who said they could do 100 things and website design was just one of them. And it showed!"
        src=""
        alt=""
        client_src=""
        client_alt=""
        client_name="Lindsey Powell"
        client_designation="Director of Marketing"
        client_company="Society of Gynecologic Oncology"
    />
</section>
