---
// IMPORT ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO COMPONENTS
import TextVideoGrid from "../common/TextVideoGrid.astro"
---
<Container>
    <section>
        <TextVideoGrid
            heading="Diane Yetter, Founder of Sales Tax Institute"
            title="What it’s like working with the Orbit team"
            description="We have a very data-intensive website. We were looking for better ways to make the information and resources that we offer to our users much more accessible."
            src="/cmo.avif"
            video_text="“They have a great process and great team members.”"
            italic_text={ true }
        />
    </section>
</Container>
