---
// IMPORTS ASTRO COMPONENTS
import TestimonialBox from "../common/TestimonialBox.astro"
---
<section>
    <TestimonialBox
        title="Best decision in 25 years of business"
        description="Without question, choosing Orbit to design and develop our website was the best business decision I’ve made in 25 years of being in business."
        src=""
        alt=""
        client_src=""
        client_alt=""
        client_name="Jim Stein"
        client_designation="Founder"
        client_company="The Road Less Traveled"
    />
</section>
