---
// IMPORTS ASTRO COMPONENTS
import TestimonialBox from "../common/TestimonialBox.astro"
---
<section class="pb-32">
    <TestimonialBox
        title="Website traffic tripled!"
        description="We more than tripled site traffic after our website redesign and we’ve been partnering with those web nerds ever since. Shopping cart abandonment is down, sales are up. HOT DOG!"
        src=""
        alt=""
        client_src=""
        client_alt=""
        client_name="Carrie Bodman"
        client_designation="Director of Marketing"
        client_company="Vienna Beef"
        background_zinc={ true }
    />
</section>
