---
// IMPORTS ASTRO COMPONENTS
import TestimonialBox from "../common/TestimonialBox.astro"

const { data } = Astro.props
---
<section class="pb-32">
    {

        data.map( ( value, index ) => {

            if (index < 1) {

            return(
                <TestimonialBox
                    title={ value.title }
                    description={ value.description }
                    src={ value.cover }
                    alt={ value.title }
                    client_src={ value.client_headshot }
                    client_alt={ value.client_name }
                    client_name={ value.client_name }
                    client_designation={ value.client_designation }
                    client_company={ value.client_company }
                    background_zinc={ true }
                />
            )
        }

        })

    }
</section>
