---
// IMPORT ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO COMPONENTS
import OptimizeWebsiteItem from "./OptimizeWebsiteItem.astro"
---
<Container>
    <section class="pt-32">
        <OptimizeWebsiteItem
            title="Website design is a thousand tiny decisions"
            sub_title="That’s why launching a website is just the beginning."
            description="Digital marketing is based on data. We turn data into insights and insights into high-performing websites, designed to tell your story and create measurable results for your business."
            src="/cmo.avif"
            alt=""
        />
    </section>
</Container>
