---

// IMPORTS ASTRO ATOMS
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

---
<div class="md:w-fit overflow-hidden relative group">
    <button class={`text-white bg-om_carbon_black rounded h-16 md:h-[72px] px-6 flex gap-2 justify-center items-center w-full after:w-0 after:h-full after:bg-black after:text-white after:absolute after:origin-top-right after:left-0 after:skew-x-[-45deg] after:top-0 after:z-30 hover:after:w-[150%] after:transition-[width] after:duration-200`}>
        <div class="z-40 relative text-lg md:text-xl font-proxima_nova_condensed font-bold">
            <slot />
        </div>
        <div class="z-40 relative w-4 aspect-square">
            <PictureInternalContain
                alternative_text="orange arrow icon"
                source="/icons/arrow-orange.svg"
            />
        </div>
    </button>
</div>
