---

// IMPORTS ASTRO COMPONENTS
import FooterHeading from "@/components/common/footer/heading/index.astro"

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"

// GET ASTRO PROPS
const {

    data,
    title

} = Astro.props

---
<div class="flex flex-col md:gap-4">
    <FooterHeading>{ title }</FooterHeading>
    <ul class="space-y-1">
        {

            data.map( ( item ) => {

                return (
                    <li class="text-center md:text-left font-proxima_nova text-lg text-white">
                        <Link href={ item.data.link } aria_label={ item.data.title }>
                            { item.data.title }
                        </Link>
                    </li>

                )

            })

        }
        <li class="text-center md:text-left text-lg text-om_orange hover:text-white font-bold font-proxima_nova transition-all duration-200 cursor-pointer">
            <Link href="tel:(773) 348-4581" aria_label="(773) 348-4581">
                (773) 348-4581
            </Link>
        </li>
        <li class="text-center md:text-left text-lg text-om_orange hover:text-white font-bold font-proxima_nova transition-all duration-200 cursor-pointer pt-4">
            <Link href="/contact" aria_label="Message Us">
                Message Us ›
            </Link>
        </li>
    </ul>
</div>
