---
import { marked } from "marked"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "@/constants/image"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import ContainPicture from "@/atoms/picture/contain/index.astro"

const {

    sub_title,
    title,
    description,
    src,
    alt

} = Astro.props

const subtitle = marked.parse( sub_title )
const html = marked.parse( description )
---
<div class="grid grid-cols-1 md:grid-cols-5 gap-8 md:gap-20 h-fit">
    <div class="flex flex-col justify-center gap-6 md:col-span-2 order-last md:order-none">
        <HeadingTwo>{ title }</HeadingTwo>
        <div class="space-y-1">
            <div class="h-[2px] w-14 bg-om_red"></div>
            <div class="h-[2px] w-14 bg-om_red"></div>
        </div>
        <section set:html={ subtitle } class="markdown largeboldtext" />
        <section set:html={ html } class="markdown" />
    </div>
    <div class="md:col-span-3 space-y-2 flex items-center">
        <div class="w-full aspect-square">
            <ContainPicture
                src={ src }
                alt={ alt }
                image_width="1200"
            />
        </div>
    </div>
</div>
