---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/target/blank/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

const {

    alternative_text,
    aria_label,
    href,
    source,

} = Astro.props

---
<Link href={ href } aria_label={ aria_label }>
    <div class="w-6 aspect-square">
        <PictureInternalContain
            alternative_text={ alternative_text }
            source={ source }
        />
    </div>
</Link>
