---
const {

    href,
    src,
    alt

} = Astro.props
---
<a href={ href } target="_blank">
    <div class="w-6 aspect-square">
        <img
            src={ src }
            alt={ alt }
            class="w-6 aspect-square"
        />
    </div>
</a>
