---
// IMPORT ASTRO COMPONENTS
import SocialIcon from "./SocialIcon.astro"
---
<div class="flex items-center gap-4">
    <a href="https://twitter.com/orbiteers" target="_blank">
        <div class="w-5 aspect-square">
            <img
                src="/icons/x.svg"
                alt=""
                class="w-5 aspect-square"
            />
        </div>
    </a>
    <SocialIcon
        src="/icons/facebook.svg"
        alt=""
        href="https://www.facebook.com/orbitmediastudios"
    />
    <SocialIcon
        src="/icons/linkedin.svg"
        alt=""
        href="https://www.linkedin.com/company/orbit-media-studios-inc./"
    />
    <SocialIcon
        src="/icons/youtube.svg"
        alt=""
        href="https://www.youtube.com/Orbitmedia"
    />
</div>
